h1 {
  text-align: center;
  font-size:700%;
  margin-bottom: 0%;
  font-family: auto;
  font-weight: revert;
  text-align: center;
}
h2 {
  text-align: center;
  margin-top: 0%;
  font-size: calc(1.325rem + .9vw);
  text-align: center;
  font-family: auto;
  font-weight: revert;
}
em {
  color: black;
}
body {
  background-color:white;
    text-align: center;
    margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

body.card {
  font: 16px / 24px "Rubik", sans-serif;
  background: var(--platinum);
  margin: 50px 0;
  align-items: center;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  height: auto;
}


.cards {

  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  scroll-snap-align: start;
  transition: all 0.2s;
  height: auto;
}

.card:hover {
  color: var(--white);
  background: var(--orange);
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
  height: auto;
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkorange);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .cards {
    grid-auto-columns: calc(50% - 10px);
    grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  .cards {
    grid-auto-columns: calc(calc(100% / 3) - 20px);
    grid-column-gap: 30px;
  }
}

@media (min-width: 1100px) {
  .cards {
    grid-auto-columns: calc(25% - 30px);
    grid-column-gap: 40px;
  }
}
.icons {
  color: black;
  display: inline-flex;
  list-style: none;
  padding-left: 0;

}

.icons a {
  color: black;
  text-decoration: none;
  font-size: 50px;
  padding: 25px 25px;
  display: inline-flex;
  padding-top: 0px;
}

.container-t {
  width: 800px;
  margin: 0 auto;
  object-fit:contain;
  object-position: center;
  height: 40vh;
  overflow: hidden;
  image-rendering: auto;
}
p {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
}
.img-circle {
  border-radius: 50%;
  size: 500px;
  width: 100px;
  height: 100px;
  text-align: center;

}
.image {
	background-image: url(https://lh3.googleusercontent.com/7F1VGqARhI3fgYecBdJcreDUOrhZMQk3nIN9kfl-JXL2hWMpvts98ZGrJnKPupjgUwliAXWRH-r66adW2Ci_QZycMt3NhUYwLiouc8T_oF1BMKoqefNmQLf49BN_kpikZ2vrzP7J=w2400?source=screenshot.guru);
	height: 220px;
  image-rendering: inherit;
  background-size: 400px 300px;
  padding-top: 0px;
}

.footer {
	padding-top: 0px;
	color: black;
	font-size: 80px;
	text-align: center;
  background-position: center;
}

.modal-body {
  font-size: x-large;
  font-family: auto;
  text-align: center;
  font-weight: bolder;

}
h5 {
  font-size: xx-large;
  font-weight: revert;
}
